@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cantata+One|Open+Sans&display=swap");

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1a1a1a;
}

.header-bar {
  background: #1a1a1a;
  color: white;
  padding: 30px 40px;
  font-family: "Cantata One", serif;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bar h1 a {
  color: white;
  text-decoration: none;
}

.header-bar .bg-block {
    width: 45%;
    background:#ffc3b9;
    height: 90%;
    position: absolute;
    top: 300px;
    left: -40px;
}

.button {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.button:hover {
  background: #ffc3b9;
}

.button.primary {
  background-color: #ffc3b9;
  color: #1a1a1a;
  margin: 5px;
}

.login-form {
  display: flex;
  justify-content: flex-end;
  padding: 20px 60px;
}

.login-form .input {
    height: 42px;
    font-size: 12px;
    margin: 0 5px;
    padding: 10px;
    color: #5f5f5f
}

.lobbyContainer{
    text-align: center;
    padding: 40px;
}

.lobbyContainer h2 {
    margin-bottom: 30px;
}

.lobbyContainer ul {
    display: flex;
}

.lobbyContainer ul li {
    flex: 25%;
    margin: 20px;
    background: #ffc3b9;
}

.image {
    width: 45%;
    position: absolute;
    right: 0;
}